<form action='' method=''>
  <input type='text' name='username' placeholder='Username'/>
  <input type='text' name='password' placeholder='Password'/>
    <input type='text' name='email' placeholder='email'/>
    <input type='text' name='about' placeholder='about'/>
  <input type='submit'>
</form>
